<%- include("partials/header") %>

<div class="topnav">
  <a id="homeNav" class="" href="/"><i class=""></i>Shoes Shop</a>
</div>
<td align="right"><img id="rounded-img" src="" alt="" /></td>

<div class="regisbtnDiv">
  <h4>Welcome to Shoes Shop</h4>
  <a class="registerBtn" href="/users/register">Register now!</a><br />
  Already have an account? <a href="/users/login">Sign in.</a>

  
</div>



<!-- Blogs -->
<% if (blogs.length == 0) { %>
    <h1 id="noBlogH1">Design post not available.</h1>
    <% } else { %>
    <div class="container">
      <% blogs.forEach(function(blog){ %>
      <div class="blogDiv">
        <h2 class="blogDetails"><%= blog.title %></h2>
        <img class="blogImagesNew" src="<%= blog.imgURL %>" alt="blogImage" /><br />
        <div class="blogDetails">
          <span id="category-span">Design: <%= blog.category %></span>
          <p class="blogText"><%= blog.blogText.substring(0, 100) %>...</p>
          <a class="readMore-btn" href="/blog/<%= blog.id %> ">Read more</a>
        </div>
      </div>
      <hr />
      <% }); %>
    </div>
    <% } %>
<%- include("partials/footer") %>
