<%- include("partials/header") %>

<!-- Top Navbar -->
<div class="topnav">
  <a id="homeNav" class="" href="/dashboard"><i class=""></i>Shoes Catalog</a>
  <a href="/users/newblog">Add Product</a>
  <a id="signinLink" href="/logout">Log out</a>
</div>

<!-- Flash Message -->
<% if (message && message.length > 0) { %>
<div id="flashDiv" class="flash welcome"><%= message %></div>
<% } %> <% if (message2 && message2.length > 0) { %>
<div id="flashDiv" class="flash welcome"><%= message2 %></div>
<% } %>

<!-- Blogs -->
<% if (blogs.length == 0) { %>
<h1 id="noBlogH1">Design post not available.</h1>
<% } else { %>
<div class="container">
  <% blogs.forEach(function(blog){ %>
  <div class="blogDiv">
    <h2 class="blogDetails"><%= blog.title %></h2>
    <img class="blogImages" src="<%= blog.imgURL %>" alt="blogImage" /><br />
    <div class="blogDetails">
      <span id="category-span">Design: <%= blog.category %></span>
      <p class="blogText"><%= blog.blogText.substring(0, 100) %>...</p>
      <a class="readMore-btn" href="/blog/<%= blog.id %> ">Read more</a>
    </div>
  </div>
  <hr />
  <% }); %>
</div>
<% } %>

<!-- JS Scripts -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script src="scripts/dashboard.js"></script>

<%- include("partials/footer") %>
